@charset "utf-8";

#wrap{
    background:linear-gradient(to bottom,#1e1b26,#2d1f54,#fff);   
}

/*컨텐츠*/
#contents{}

.contents{
    margin-top:120px;
}
.contents li{
    float:left;
    width:360px;
    height:500px;
    margin-right:60px;
    margin-bottom:60px;
    position:relative;
}
.contents li img{
    position:absolute;
    top:0;
    left:0;
    z-index:;
}
.contents li:nth-child(3n){
    margin-right:0;
}
.contents li:last-child{
    background:#fff;
}
.contents li a{
    display:block;
    width:360px;
    height:500px;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition:opacity 0.5s;
    position:relative;
    z-index:0;
}
.contents li p{
    text-align:center;
    padding-top:220px;
    box-sizing:border-box;
    color:aliceblue;
    font-size:20px;
}
.contents li .date{
    font-size:14px;
    margin:10px 0;
}
.contents li .impo{
    font-size:16px;
}
.contents li:hover a{
    opacity:1;
}